.product-images-con img {
  /* border: 2px solid green; */
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.image-con {
  /* border: 2px solid red; */
  position: relative;
  width: 100%;
  height: 200px;
  margin-top: 20px;
  overflow-y: hidden;
}

.name-and-amt-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.name-and-amt-con p {
  font-size: 18px;
  font-weight: 600;
}

.name-and-amt-con p:nth-child(2) {
  color: var(--darkblue);
}
@media screen and (max-width: 500px) {
  .image-con {
    margin-top: 0px;
  }

  .name-and-amt-con {
    margin-top: 2px;
  }
}
