.products {
  position: relative;
  min-height: 100vh;
  padding-inline: var(--pagesectionspadding);
  max-width: var(--pagesectionswidth);
  margin: 30px auto 60px;
  display: flex;
  justify-content: space-between;
  /* overflow-y: auto; */
}
@media screen and (max-width: 800px) {
  .products {
    flex-direction: column;
    padding-inline: 1rem;
    margin-top: 0;
  }
}

.products > aside {
  /* border: 2px solid yellow; */
  width: 200px;
  margin-top: 20px;
}
@media screen and (max-width: 800px) {
  .products > aside {
    /* border: 2px solid red; */
    position: fixed;
    left: 0;
    z-index: 9;
    background-color: #dfeff8;
    width: 100%;
    padding: 1rem;
    display: grid;
    margin-top: 0px;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
  }
  .filter-options {
    visibility: hidden;
  }
}
@media screen and (max-width: 500px) {
  .products > aside {
    padding-bottom: 0px;
    gap: 10px;
  }
}

.clear-filter-btn {
  background-color: var(--darkred);
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .clear-filter-btn {
    height: fit-content;
    /* align-self: self-start; */
    width: 120px;
    padding-block: 10px;
  }
}

/* ========= */
/* Right hand side */
.products-images-sect {
  /* border: 2px solid green; */
  width: 75%;
  margin-left: auto; /* To move the right container to the right on position absolute */
}
@media screen and (max-width: 800px) {
  .products-images-sect {
    width: 100%;
  }
}

.loader-and-image-sect {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 50px;
}
@media screen and (max-width: 1170px) {
  .loader-and-image-sect {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 800px) {
  .loader-and-image-sect {
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
  }
}
@media screen and (max-width: 550px) {
  .loader-and-image-sect {
    grid-template-columns: 1fr;
  }
}
