.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.checkout-input-con {
  /* border: 2px solid green; */
  display: flex;
  justify-content: space-between;
}

.checkout-input-con > input {
  height: 40px;
  padding-inline: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #000;
}

.names-con > input,
.location-con > input,
.contact-con > input {
  width: 49%;
}

.address-con > input {
  width: 100%;
}

.checkout-info-btn {
  padding-block: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--lightblue);
  color: #474545;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.checkout-info-btn:hover {
  transform: scale(1.02);
}
@media screen and (max-width: 800px) {
  .checkout-form {
    gap: 10px;
  }
}
@media screen and (max-width: 800px) {
  .checkout-input-con {
    flex-direction: column;
    gap: 10px;
  }
  .checkout-input-con > input {
    width: 100%;
  }
}
