.header-path {
  background-color: var(--lightblue);
  padding-block: 6vh;
}

.header-path div {
  max-width: var(--pagesectionswidth);
  margin-inline: auto;
  padding-inline: var(--pagesectionspadding);
}

.header-path div p {
  font-size: 2.5rem;
  font-weight: 700;
}

.header-path p span span a {
  text-decoration: none;
  color: var(--darkblue);
}
@media screen and (max-width: 600px) {
  .header-path {
    padding-block: 3vh;
  }

  .header-path div p {
    font-size: 5vw;
  }
}

.about-page-sect {
  /* min-height: 50vh; */
  max-width: var(--pagesectionswidth);
  margin-inline: auto;
  padding-inline: var(--pagesectionspadding);
  display: flex;
  justify-content: space-between;
  padding-block: 1.8rem;
  margin-block: 3rem;
}

.about-page-sect img {
  width: 47%;
  height: 55vh;
}

.about-story-con {
  width: 47%;
  margin-top: 10px;
}

.about-story-con h2 {
  font-size: 35px;
}
@media screen and (max-width: 1000px) {
  .about-page-sect {
    /* border: 2px solid red; */
    flex-direction: column;
  }
  .about-page-sect img {
    width: 100%;
    height: 50vh;
  }

  .about-story-con {
    /* border: 2px solid green; */
    width: 100%;
    margin-top: 5rem;
  }
  .wobble {
    margin-left: 25px;
  }
  .about-story-con p {
    width: 80%;
    margin-inline: auto;
    /* text-align: justify; */
  }
}

.wobble {
  width: 80px;
  height: 5px;
  background-color: var(--lightblue);
  border: none;
  margin-top: 8px;
}
@keyframes wobble {
  0% {
    transform: none;
  }
  15% {
    transform: translateX(-25%);
  }
  30% {
    transform: translateX(20%);
  }
  45% {
    /* transform: translateX(-15%); */
  }
  60% {
    transform: translateX(10%);
  }
  75% {
    transform: translateX(-5%);
  }
  100% {
    transform: none;
  }
}

.wobble {
  animation-name: wobble;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.about-story-con p {
  margin-top: 2rem;
  line-height: 0.8cm;
}
