.header-path {
  /* border: 2px solid red; */
  background-color: var(--lightblue);
  padding-block: 5vh;
}
@media screen and (max-width: 800px) {
  .header-path {
    position: fixed;
    top: 65px;
    width: 100%;
    z-index: 99;
  }
}

.header-path div {
  max-width: var(--pagesectionswidth);
  margin-inline: auto;
  padding-inline: var(--pagesectionspadding);
}
@media screen and (max-width: 800px) {
  .header-path div {
    padding-inline: 1rem;
  }
}

.header-path div p {
  font-size: 2.2rem;
  font-weight: 700;
}

.header-path p span span a {
  text-decoration: none;
  color: var(--darkblue);
}
@media screen and (max-width: 800px) {
  .header-path {
    padding-block: 2vh;
  }

  .header-path div p {
    font-size: 4.5vw;
  }
}

.about-page-sect {
  /* min-height: 50vh; */
  max-width: var(--pagesectionswidth);
  margin-inline: auto;
  padding-inline: var(--pagesectionspadding);
  display: flex;
  justify-content: space-between;
  padding-block: 1.8rem;
  margin-block: 3rem;
}

.small-img {
  width: 47%;
  height: 55vh;
}

.about-story-con {
  width: 47%;
  margin-top: 10px;
}

.about-story-con h2 {
  font-size: 35px;
}
@media screen and (max-width: 1000px) {
  .about-page-sect {
    /* border: 2px solid red; */
    flex-direction: column;
  }
  .small-img {
    width: 100%;
    height: 500px;
    display: block;
  }

  .big-img {
    display: none;
  }

  .about-story-con {
    /* border: 2px solid green; */
    width: 100%;
    margin-top: 5rem;
  }
  .wobble {
    margin-left: 25px;
  }
  .about-story-con p {
    width: 80%;
    margin-inline: auto;
    /* text-align: justify; */
  }
}
@media screen and (max-width: 600px) {
  .about-story-con {
    margin-top: 2rem;
  }
  .small-img {
    height: 300px;
  }
  .about-story-con h2 {
    font-size: 8vw;
  }
}

@media screen and (min-width: 1000px) {
  .about-page-sect {
    display: block;
  }
  .about-story-con {
    width: 100%;
  }
  .small-img {
    display: none;
  }
  .big-img {
    width: 500px;
    height: 500px;
    float: left;
    padding: 0 20px 20px 0;
  }
}

@media screen and (max-width: 650px) {
  .about-story-con p {
    width: 100%;
  }
}

.wobble {
  width: 80px;
  height: 5px;
  background-color: var(--lightblue);
  border: none;
  margin-top: 8px;
}

.about-story-con p {
  margin-top: 2rem;
  line-height: 0.8cm;
}
