.home-page {
  /* border: 2px solid red; */
}

/* ======== */
/* First Body Section */
.design-your-comfort {
  /* border: 2px solid red; */
  padding-inline: var(--pagesectionspadding);
  max-width: var(--pagesectionswidth);
  margin: 8rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.design-your-comfort article {
  /* border: 2px solid green; */
  width: 50%;
}

.design-your-comfort article h2 {
  font-size: 2.5em;
  margin-block: 30px;
}

.design-your-comfort article p {
  line-height: 0.7cm;
}
@media screen and (max-width: 1000px) {
  .design-your-comfort article {
    /* border: 2px solid red; */
    width: 95%;
    /* width: 700px; */
    margin-inline: auto;
  }
  .design-your-comfort article h2 {
    /* border: 2px solid red; */
    max-width: 350px;
  }
}
@media screen and (max-width: 650px) {
  .design-your-comfort {
    margin-block: 3rem;
    padding-inline: 10px;
  }
  .design-your-comfort article h2 {
    font-size: 8vw;
    margin-block: 10px;
    /* max-width: 350px; */
  }
}

.brand-name {
  color: var(--darkblue);
  font-weight: 900;
}

.shop-now-btn {
  background-color: var(--darkblue);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 30px;
  transition: ease 0.5s all;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.shop-now-btn:hover {
  background-color: var(--lightblue);
  color: #000;
}

.design-comfort-img-sect {
  /* border: 2px solid red; */
  position: relative;
  width: 50%;
  text-align: right;
}
@media screen and (max-width: 1000px) {
  .design-comfort-img-sect {
    display: none;
  }
}

.des-comfort-img-one {
  width: 80%;
  border-radius: 5px;
}

.des-comfort-img-two {
  width: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 5px;
}

/* ======== */
/* Second Body Section */
.add-bg-con {
  background-color: var(--verylightblue);
}

.featured-pro-con {
  position: relative;
  padding-inline: var(--pagesectionspadding);
  max-width: var(--pagesectionswidth);
  margin: 0px auto;
  padding-block: 70px;
}
@media screen and (max-width: 500px) {
  .featured-pro-con {
    padding-inline: 10px;
  }
}

.featured-pro-con h2 {
  text-align: center;
  font-size: 40px;
}
@media screen and (max-width: 600px) {
  .featured-pro-con h2 {
    font-size: 7vw;
  }
}

.featured-pro-con hr {
  width: 100px;
  height: 5px;
  background-color: var(--darkblue);
  margin-inline: auto;
  margin-top: 10px;
}

.home-images-con {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-items: center;
  gap: 30px;
  margin-top: 60px;
  /* align-items: stretch; */
}

.each-image-con {
  /* border: 2px solid red; */
  position: relative;
  height: 200px;
  border-radius: 5px;
  overflow-y: hidden;
}

.img-overlay {
  /* border: 2px solid green; */
  position: absolute;
  width: 100%;
  height: 100%;
  transition: ease 1s all;
  border-radius: 5px;
}
.img-overlay:hover {
  background-color: var(--extremelylightblack);
  opacity: 0.6;
}

.search-icon {
  background-color: var(--darkblue);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  color: #fff;
  opacity: 0.7;
}

.home-images {
  width: 100%;
  height: 300px;
  border-radius: 5px;
}
@media screen and (max-width: 750px) {
  .home-images {
    height: 400px;
  }
}

.img-text-sect {
  display: flex;
  justify-content: space-between;
}

.img-text-sect P:last-child {
  color: var(--darkblue);
}

.all-product-con {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.all-product-btn {
  background-color: var(--darkblue);
  border: none;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  transition: ease 0.5s all;
  cursor: pointer;
}
.all-product-btn:hover {
  background-color: var(--lightblue);
  color: #000;
}
