.products {
  position: relative;
  min-height: 70vh;
  padding-inline: var(--pagesectionspadding);
  max-width: var(--pagesectionswidth);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-block: 30px 60px;
  /* overflow-y: auto; */
}
@media screen and (max-width: 800px) {
  .products {
    flex-direction: column;
  }
}

.products aside {
  /* border: 2px solid yellow; */
  width: 200px;
  margin-top: 20px;
}
@media screen and (min-width: 800px) {
  .products aside {
    /* height: fit-content; */
    /* position: fixed;
    top: 0px; */
  }
}

@media screen and (max-width: 800px) {
  .products aside {
    /* width: 10%; */
    /* border: 2px solid red; */
  }
}

.products aside input:first-child {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  background-color: var(--lightblack);
  color: #fff;
  font-size: 16px;
}
.products aside input::placeholder {
  color: #fff;
}
@media screen and (max-width: 800px) {
  .products aside input:first-child {
    width: 140px;
    /* border: 2px solid red; */
  }
}

.category {
  margin-block: 50px;
}

.category h3 {
  margin-bottom: 10px;
}

.category li {
  list-style-type: none;
  cursor: pointer;
  color: var(--extremelylightblack);
  font-weight: 600;
  line-height: 0.8cm;
}
.add-li-css {
  border-bottom: 2px solid #000;
  width: fit-content;
}

.company-con,
.radio-price-con {
  margin-bottom: 40px;
}

.company-con h3 {
  margin-bottom: 5px;
}

.company-con select {
  height: 25px;
  border-radius: 5px;
  padding-left: 5px;
}

.radio-price-con {
  /* border: 2px solid red; */
  width: 120px;
}

.radio-price-con input {
  width: 100%;
}

.clear-filter-btn {
  background-color: var(--darkred);
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
