.no-order {
  /* border: 2px solid red; */
  width: fit-content;
  margin: 3rem auto 1rem;
  text-align: center;
}

.no-order > img {
  border-radius: 5px;
  width: 200px;
  animation: stagger 1s ease-in-out 1;
}
@keyframes stagger {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0);
  }
}

.no-order > p {
  font-weight: 600;
  font-size: 2rem;
  margin-top: 5px;
}

@media screen and (max-width: 420px) {
  .no-order > p {
    font-size: 1.5rem;
  }
}
