.open-order-card {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 25px;
}

.open-order-card > img {
  width: 150px;
  height: 100px;
  border-radius: 10px;
}

.order-summary > p:first-child {
  font-size: 25px;
  font-weight: 600;
}

.order-summary > p:nth-child(2) {
  font-size: 20px;
  background-color: rgb(6, 190, 6);
  width: fit-content;
  color: #fff;
  padding: 0 10px 5px;
  margin-block: 20px 10px;
  border-radius: 5px;
}

.order-summary > p:last-child {
  font-weight: 600;
}

.open-order-card > button {
  margin: 10px 0 0 auto;
  align-self: flex-start;
  background-color: inherit;
  border: none;
  color: var(--darkblue);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .open-order-card {
    gap: 15px;
  }
  .order-summary > p:first-child {
    font-size: 20px;
  }
  .open-order-card > button {
    font-size: 14px;
  }
}

@media screen and (max-width: 640px) {
  .open-order-card > img {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .open-order-card {
    padding: 10px;
  }
  .open-order-card > button {
    width: 100px;
    margin-top: 5px;
  }
}
