*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --lightblue: #89caee;
  --verylightblue: #dfeff8;
  --extremelylightblue: #f0f4f8;
  --darkblue: #3b82f6;
  --extremelydarkblue: #032c6d;
  --darkpurple: #647acb;
  --lightpurple: #e0e8f9;
  --darkyellow: #e9b949;
  --lightyellow: #fcefc7;
  --extremelylightyellow: #fcfcf0;
  --darkred: #fd0d21;
  --lightred: #f8d7da;
  --extremelylightblack: #959799;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--extremelylightblue);
  overflow-x: hidden;
  /* color: var(--extremelylightblack); */
}
